@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.custom-form {
  @apply flex flex-col gap-3 max-w-2xl w-full;
}

.custom-form input, .custom-form select {
  @apply bg-surface p-2 border rounded;
}

.custom-form button[type="submit"] {
  @apply w-full bg-primary font-bold p-2 rounded-full uppercase;
}
